{% extends "emails/base.html" %}

{% block title %}Reset Your Password - Send Buddy{% endblock %}

{% block content %}
<h2>Password Reset Request</h2>

<p>Hi {{ user.display_name }},</p>

<p>We received a request to reset your Send Buddy password. Click the button below to choose a new password:</p>

<div style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</div>

<p class="small-text">Or copy and paste this link into your browser:</p>
<p class="small-text" style="word-break: break-all;">{{ reset_url }}</p>

<div class="divider"></div>

<p class="small-text">This password reset link will expire in 24 hours.</p>

<div class="info-box">
    <p><strong>Didn't request this?</strong></p>
    <p>If you didn't request a password reset, please ignore this email. Your password will not be changed.</p>
</div>
{% endblock %}
